.page{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 20px;
}
.blog_logo{
    width: 150px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    background-color: #f1f1f1;
}

.image_1{
    width: 100px;
    height: 140px;
    object-fit: cover;
}

.section_with_image{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.section_1{
    display: flex;
    flex-direction: column;
}